<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contact.user_id %>
</p>

<p>
  <strong>Last contact date:</strong>
  <%= @contact.last_contact_date %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @contact.image_url %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
